@charset "gb2312";
/* CSS Document */

body{font-size:14px; font-family:"ו"; background-color:#333333}
*{margin:0px 0px; padding:0px 0px}
h1,h2,h3{font-size:100%}
ul,li{list-style-type:none}
a{color:#eeeeee; text-decoration:none}
a:hover{text-decoration:underline; color:#fffc00}
.clear{clear:both}
img{border:none}


#container{margin:0px auto; min-width:320px; max-width:2080px}

.logo,.nav,.box,.box2,.box3,.bnt{width:100%}
.logo img{padding:10px 0px 10px 10px}
.nav{background-color:#4ea600; height:80px;}
.nav li,.f_nav li{float:left; width:25%; text-align:left; line-height:24px; padding-top:10px}
.nav li a,.f_nav li a{padding:0px 0px 0px 10px}
.nav li.corrent a{font-weight:800; color:#fffc00}


.swipe-wrap{overflow:hidden;position:relative}
.swipe-wrap>div{float:left;width:100%;position:relative}
.swipe_pic{position:relative;overflow:hidden;width:320px;height:160px;background-color:#efefef;background-image:url(../images/sina_ico.png);background-position:center center;background-size:60px auto;background-repeat:no-repeat}
.swipe_pic a{display:block}.swipe_pic img{width:320px;height:160px}
.swipe_h3{position:absolute;left:0;bottom:0;padding:0 14px;font-size:14px;font-weight:normal;background:rgba(0,0,0,0.6);height:26px;line-height:26px;color:#fff;text-shadow:1px 1px 0 #000;width:292px}.swipe_num{position:absolute;right:0;bottom:10px}
.swipe_num li{float:left;width:4px;height:4px;font-size:0;text-indent:999em;border:1px solid rgba(0,0,0,0.6);background:#a9a89d;margin:0 5px;overflow:hidden}
.swipe_num li.active{width:4px;height:4px;border:1px solid #43e2fd;background:#58d8ff;box-shadow:0 0 4px #43e2fd}
.swiper-container{margin:0 auto;position:relative;overflow:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden;z-index:500}


.swiper-container{margin:0 auto;position:relative;overflow:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden;z-index:500}
.swiper-wrapper{position:relative;width:100%;-webkit-transition-property:-webkit-transform,left,top;-webkit-transition-duration:0s;-webkit-transform:translate3d(0px,0,0);-webkit-transition-timing-function:ease;-moz-transition-property:-moz-transform,left,top;-moz-transition-duration:0s;-moz-transform:translate3d(0px,0,0);-moz-transition-timing-function:ease;-o-transition-property:-o-transform,left,top;-o-transition-duration:0s;-o-transform:translate3d(0px,0,0);-o-transition-timing-function:ease;-o-transform:translate(0px,0px);-ms-transition-property:-ms-transform,left,top;-ms-transition-duration:0s;-ms-transform:translate3d(0px,0,0);-ms-transition-timing-function:ease;transition-property:transform,left,top;transition-duration:0s;transform:translate3d(0px,0,0);transition-timing-function:ease;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
.swiper-free-mode>.swiper-wrapper{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;margin:0 auto}
.swiper-slide{float:left}.swiper-wp8-horizontal{-ms-touch-action:pan-y}
.swiper-wp8-vertical{-ms-touch-action:pan-x}
.swiper{width:320px;height:160px;margin:0 auto;position:relative;margin-bottom:10px}
.swiper .swiper-container{width:320px;height:160px}
.swiper .swiper-slide{position:relative}
.swiper .pagination{position:absolute;right:0;bottom:2px;height:16px;line-height:26px;z-index:500}
.swiper .swiper-pagination-switch{display:inline-block;width:6px;height:3px;font-size:0;text-indent:999em;border:1px solid rgba(0,0,0,0.6);background:#a9a89d;margin:0 5px;overflow:hidden;cursor:pointer}
.swiper .swiper-active-switch{border:1px solid #4EA600;background:#4EA600;box-shadow:0 0 4px #4EA600}


.box2,.box3{margin:10px 0px}
.box2 a{width:47%;color:#999999; padding-left:10px}
.box3 a{width:30%; font-weight:800; color:#4ea600; padding-left:10px}
.box2 a,.box3 a{ text-align:left; display:inline-block; line-height:28px; }
.box ul.hot,.hot li,.title{width:100%}
ul.hot{margin:10px 0px 10px 0px}
.hot li{line-height:32px}
.hot li a{padding:0px 5px}
.hot li.li01{font-weight:800}
.hot img{width:90px; height:70px}
ul.list li{background:url(../images/520x_03.gif) 0px bottom repeat-x}
.a_more{display:100%; margin-bottom:10px; text-align:center; height:24px}
.a_more a{padding:0px 10px; background-color:#404040; color:#999999; font-size:12px; line-height:24px; display:inline-block}

.title{height:38px; background-color:#404040}
.address{background-color:#404040}
.title a.m_title{height:36px; line-height:36px; border-top:solid 2px #4ea600; font-weight:800; float:left; padding:0px 10px 0px 10px; background-color:#333333; margin-left:10px}
.title a{color:#4ea600; margin-right:10px}
.title span{float:right; line-height:38px}
.title span a{font-size:12px; color:#e1e1e1}
.address{font-size:12px; color:#999999; margin:0px 0px 10px 0px}
.address a{background:url(../images/520i_03.gif) right 13px no-repeat; padding:0px 20px 0px 0px; margin-right:10px; display:inline-block; line-height:38px;}

.hot li a.li_img{width:30%; float:left; padding:0px 0px}
.num1{width:70%; float:left; line-height:24px}
.hot li.pdli{white-space:normal; overflow:auto; text-overflow:normal;}
.num1 h2,.hot li{white-space:nowrap; overflow:hidden; text-overflow:ellipsis; width:100%}
.num1 a{color:#4ea600}
.num1 span{font-size:12px; color:#999999}

.article,.text{padding:0px 5px}
.article h1{font-size:16px; text-align:center; color:#eeeeee}
.article h1 p{color:#999999; font-size:12px; font-weight:normal; margin:10px 0px 10px 0px}
.text{line-height:26px; color:#efefef}
.tag a{color:#999999; font-size:12px;}

.page,.tag{width:100%; text-align:center; margin:20px 0px}
.page a,.tag a{padding:0px 8px; background-color:#404040; display:inline-block; line-height:22px; margin:0px 3px}
.page a.corrent{background-color:#4ea600}

.pre_nxt_box{width:100%; margin-bottom:5px; float:left}
.pre_nxt_box span{line-height:24px; display:block; padding:0px 5px; background-color:#404040; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; margin-bottom:5px}
.share {margin:15px 10px; float:left;}

.special_box{width:100%}
.special_box li h2,.special_box li span{display:block; }
.special_box li h2{margin-top:10px; padding:10px 10px; background-color:#555555}
.special_box li span{margin:0px 0px 5px 0px; background-color:#404040; text-indent:1.5em; font-size:12px; color:#999999; line-height:1.5em; padding:10px 10px}
.special_box li span a{color:#4ea600}

.sp_list_title h1{display:block; text-align:center; color:#ffffff; margin:10px 0px 0px 0px}
.sp_list_title span{display:block; padding:10px 10px; text-indent:1.5em; font-size:12px; color:#999999; line-height:1.5em;}
.special_box02 li h2,.special_box02 li span{display:block; background-color:#404040;}
.special_box02 li h2{padding:10px 10px 0px 10px}
.special_box02 li h2 a{color:#4ea600}
.special_box02 li span{text-indent:1.5em; font-size:12px; color:#999999; line-height:1.5em; padding:10px 10px}
.special_box02 li{margin-bottom:10px}
ul.sp_hot li{margin-bottom:10px; display:block; line-height:normal; float:left; width:100%}
ul.sp_hot li span a{color:#ffffff}
ul.sp_hot img{margin-left:8px}
ul.sp_hot .num1{width:68%; }
.footer{width:100%; background-color:#404040; height:160px}
.version{text-align:center; color:#999999; line-height:26px; margin-top:10px}
.version a{width:33%; float:left; color:#999999}