html{font-size:10px;width:100%;height:100%}
body{width:100%;height:100%;padding:0;margin:0;color:#000;background-color:#F1F1F1;font-family:"Microsoft Yahei","Arial"}
*{-webkit-tap-highlight-color:rgba(0,0,0,0)}
ul,li{list-style:none;margin:0;padding:0}
h1,h2,h3,h4,h5,p{margin:0}
img,form{border:0;margin:0;padding:0}
i, cite, em, var, address{font-style:normal}
.clearfix{/* 触发 hasLayout */zoom:1}
.clearfix:after {content: "."; display: block; height:0; clear:both;visibility:hidden}
input,img{vertical-align:middle;outline:none}
a{text-decoration:none}
input[type="checkbox"],input[type="radio"]{zoom:120%}
input[type="radio"]{margin:-2px 3px 0px 5px;}
select{-webkit-appearance:menulist;-webkit-box-sizing:border-box;-webkit-border-radius:3px;white-space:pre;-webkit-rtl-ordering: logical;
color:#ff2c1c;height:22px;line-height:22px;font-size:16px;font-weight:bold;cursor:default;border:1px #bbb solid}
#wrap{width:100%;height:100%;}
.mobile-main{margin:0 auto;width:320px;background-color:#fff;height:auto}
#guide{-webkit-box-sizing:border-box;margin:0 auto;width:320px;padding:12px 12px 6px}
#guide-b{-webkit-box-sizing:border-box;margin:0 auto;width:320px}
/*top styles*/
.mobile-top{overflow:hidden;width:320px;margin:auto;padding:8px 0 3px 0}
.mobile-logo{width:148px;float:left;padding-left:6px;}
.mobile-toplogin{float:right;font-size:16px;padding-top:30px;font-weight:bold;padding-right:8px}
.mobile-toplogin a{color:#000;text-decoration:none; padding-right:10px}
.mobile-toplogin a:hover{color:#ff6600;text-decoration:none}
/*top end*/
/*navbar styles*/
.mobile-navbar{padding-top:10px}
.domainbox{margin:auto;width:97%;margin-top:1px;border-radius:4px;background:#fff;border:1px solid #e1e7eb;padding-bottom:10px}
.domainbar{background:#fff}
.domainbar ul li{float:left;height:45px;line-height:45px;-webkit-box-flex:1;text-align:center;border-bottom:1px solid #e7ecef;width:155px;font-size:16px;border-right:1px solid #e7ecef}
.domainbar ul li a{display:inline-block;height:45px;width:154px;color:#666}
.domainbar ul li.cndomain{border-right:none;width:154px}
.domainbar ul li.current{border-bottom:2px solid #0c84c0;font-weight:bold}
.domainbar ul li.current a{color:#006699}
.domainlist{overflow:hidden;height:auto;clear:both}
.domainlist ul{overflow:hidden;margin-left:14px;display:block}
.domainlist ul li{float:left;display:block;padding:1px;margin:1px;width:94px;font-size:16px;height:28px}
.domain-www{float:left}
.submit-btn{background:url(../images/searchbg.gif) no-repeat;width:70px;height:45px;border:none;float:left}
.domainInput{float:left;margin-left:5px}
.domainInput input{vertical-align:middle}
.domainSearchBox{float:left;width:320px; padding-top:13px; padding-bottom:12px; overflow:hidden; }
.inputbox{height:43px;padding:0px 0px 0px 5px;border:solid 1px #dcdddd;border-top-left-radius:4px;border-bottom-left-radius:4px;border-right:none;float:left;color:#333;font-size:14px;width:156px}
.inputbox2{height:43px;padding:0px 0px 0px 5px;border:solid 1px #dcdddd;border-top-left-radius:4px;border-bottom-left-radius:4px;float:left;color:#333;font-size:14px;width:200px}
.w3{font-size:22px;font-weight:bold;float:left;padding-right:5px;padding-top:4px}
.hide{display:none}
/*navbar end*/
/*mobile-yewuitem styles*/
.mobile-yewuitem{width:320px;margin:10px auto 0;overflow:hidden;padding-top:8px}
.mobile-yewuitem ul{width:100%;height:auto;overflow:hidden}
.mobile-yewuitem ul li{-webkit-box-sizing:border-box;width:72px;float:left;margin:0 2px 0 5px}
.yewuitem-a{width:100px;background:#ea7960}
.yewuitem-b{width:100px;background:#69b3e4}
.yewuitem-c{width:100px;background:#a17dcf}
.yewuitem-d{width:100px;background:#facd73}
.yewuitem-e{width:100px;background:#ea7960}
.yewuitem-a img{text-align:center}
.yewuitem-img{width:62px;height:61px}
.yewuitem-img img{width:62px}
.mobile-yewuitem ul li div{width:100%;text-align:center}
.mobile-yewuitem ul li a{width:100px;height:10px;color:#fff;font-size:14px}
.item-txt{padding-bottom:6px}
.marginbottom10{margin-bottom:10px}
/*mobile-yewuitem end*/
/*mobile-hotmsg styles*/
.mobile-hotmsg{background:#949494;height:40px;line-height:40px;font-size:14px;color:#fff;padding-left:8px}
.hotmsg-img{background:url(../images/hotimg.gif) no-repeat;padding-left:26px;line-height:24px;height:25px;padding-top:1px}
.mobile-hotmsg a{color:#fff}
.mobile-hotmsg a:hover{color:#000}
/*mobile-hotmsg end*/
/*vps真伪查询*/
.vpschaxun{width:320px;background:#fff;color:#000}
.vpschaxun h4{font-size:18px;text-align:center;padding:10px 0;border-bottom:3px solid #419edd;font-weight:700}
.vpsinput{padding:18px 10px 8px}
.vpsinputxt{font-size:16px;font-weight:600;vertical-align:middle;margin-right:4px;}
input.ipinput{height:33px;width:236px;-webkit-box-sizing:border-box;
border:solid 1px #DDD;border-top-color:#BBB;padding:0 9px;
color:#333;font-size:1.6rem;-webkit-border-radius:0;
-webkit-appearance:none;vertical-align:middle}
.vpschaxun-btn{text-align:center;padding:10px 0}
.btnstyle{width:202px;height:46px;margin-left:46px;cursor:pointer; background:url(../images/mogile-btnimg1.jpg) no-repeat;border:none medium}
.btnstyle2{width:202px;height:46px;cursor:pointer; background:url(../images/mogile-btnimg1.jpg) no-repeat;border:none medium}
.chaxun-txt{color:#ff0000;font-size:14px;padding:10px;font-weight:500}
.vpschaxun-img1{width:37px;height:37px;float:left;padding-left:10px;padding-right:10px}
.chaxun-msg{float:left;width:220px}
.vpslist{margin:0px 10px 0;border:1px solid #d6d6d6;font-size:14px;}
.vpslist li{height:34px;line-height:34px;padding-left:10px;border-bottom:1px solid #d6d6d6}
.vpslist2{margin:0px 10px 0;font-size:14px;text-align:center}
.vpslist2 li{height:34px;line-height:34px;padding-left:10px}
.listdiv{width:120px;float:left;text-align:right}
.padding10{padding-bottom:10px}
.txtcolor{color:#5c5c5c}
.txtcolor2{color:#ff0000}
.txtcolor3{color:#fff;font-size:20px;font-weight:bold}
.txtcolor4{color:#5ccefd}
.txtcolor5{color:#fa4f92}
.txtcolor6{color:#37c400;font-size:14px}
.txtcolor7{color:#0091db;font-size:18px}
.txtcolor8{color:#37c400}
.txtcolor10{color:#ff2c1c}
.txtcolor11{color:#0091db}
/*网站检测*/
.header{background:#0091db;height:40px;line-height:40px;margin-top:10px;text-align:center;position:relative;font-family:"华文细黑";}
.back{background:url(../images/mobileimg5.png) no-repeat 0 0;background-size:contain;font-size:14px;color:#fff;display:inline-block;text-align:center;padding-left:8px;width:70px;height:40px;line-height:40px;text-decoration:none;margin-right:30px;position:absolute;left:10px;top:7px;font-weight:bold}
.header a.back{line-height:30px}
.header a{color:#fff}
.header a.a-tjgd{color:#fff;font-size:16px;font-weight:bold;float:right;font-family:"华文细黑";margin-right:10px}
.header a:active{color: #fff}
.header a:visited{color: #fff}
.jiance-search{width:320px;padding:10px 0}
.jiancebox{width:100%;min-width:1100px;margin:0 auto;background:#fcfcfc}
.jianceimg{width:100%;height:52px;margin:10px auto;text-align:center}
.jiancontent{background:#fcfcfc;border:1px solid #d7d7d7;border-left:none;border-right:none;margin-top:20px}
.jiansearch{width:960px;margin:10px auto}
.jianhttp{color:#1FB5E7;font-weight:bold;font-size:24px;line-height:40px;padding:5px 5px 5px 160px;float:left}
.searchinput{width:452px;padding-top:5px;padding-bottom:5px;padding-left:5px;background:#a7e8fc;float:left;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:4px;overflow:hidden;display:block}
.ac_input{line-height:40px;color:#CBCBCB;font-size:14px;width:450px;height:40px;border-top:1px solid #6fb0b8;border-left:1px solid #6fb0b8;border-bottom:1px solid #6fb0b8;padding-left:5px;font-size:24px;-webkit-border-radius: 6px;-moz-border-radius:6px;border-radius:4px}
.jianSubmit{width:100px;height:42px;padding-top:5px;padding-bottom:5px;padding-right:7px;background:#27cbfd;*padding-bottom:5px;*padding-top:7px;float:left;margin-left:-1px;}
#scan span{display:block;height:42px;float:left;}
#scanHttp{color:#1FB5E7;font-weight:bold;font-size:20px;line-height:40px;padding:5px 5px 5px 6px}
#scanInput{width:140px;padding-top:5px;padding-bottom:5px;padding-left:5px;background:#a7e8fc;}
#scanSubmit{width:80px;padding-top:5px;padding-bottom:5px;padding-right:7px;background:#a7e8fc;_padding-bottom:6px;_padding-top:6px;}
#scanInput input{line-height:38px;color:#000;font-size:16px;width:140px;height:38px;border:1px solid #6f90b8;padding-left:5px;}
#scanSubmit a{overflow:hidden;font-size:16px;font-weight:bold;color:#ffffff;text-align:center;line-height:38px;display:block;width:80px;height:39px;background:#a7e8fc;border-top:1px solid #3b6e22;border-right:1px solid #3b6e22;border-bottom:1px solid #3b6e22;border-left:1px solid #3b6e22;padding-top:1px;}
#scanSubmit a span{background:#14B8B8;width:100%}
.jiance-msg h4{font-size:14px;text-align:center}
.jiance-content{font-size:14px;color:#ef4e9b;background:#dbf1f4;margin-top:10px}
.jiance-content ul{padding:0 10px}
.jiance-content ul li{padding-top:6px}
.jiance-fontweight{font-weight:bold;font-size:16px; border-bottom:1px dashed #5aafc6;padding:10px 0 6px;color:#5aafc6}
.jiance-pb16{padding-bottom:16px}
/*网站检测结果*/
.jieguo-msg{padding:10px}
.fen-txta{color:#ff2c1c;font-size:30px;text-align:center;padding:10px 0}/*高危*/
.txtcolor9{color:#ff2c1c;margin-right:90px}/*高危*/
.fen-txtb{color:#32b100;font-size:30px;text-align:center;padding:10px 0}/*安全*/
.txtcoloranquan{color:#32b100;margin-right:90px}/*安全*/
.fen-txtc{color:#fd8227;font-size:30px;text-align:center;padding:10px 0}/*警告*/
.txtcolorjinggao{color:#fd8227;margin-right:90px}/*警告*/
.jieguo-msg h4{font-size:18px;border-bottom:1px solid #32b100;padding-bottom:10px}
.jieguo-msg a{}
.jixu-alink{background:#32b100;color:#fff;font-size:14px;width:70px;height:30px;line-height:30px;display:inline-block;text-align:center}
.jieguo-ul{margin-left:80px;padding:10px 0;font-size:14px}
.jieguo-ul li{line-height:26px}
.closebtn{font-family:arial;font-size:34px;font-weight:700;color:#666;text-decoration:none;float:right;margin-right:6px}
/*备案进度查询结果*/
.fontsize16{font-size:16px}
.jdtxtcolor{color:#0a8a50;font-size:16px;font-weight:bold;padding-bottom:6px;width:160px}
.mt{margin-top:10px}
.mt2{margin:10px 0}
.shenhejindu{width:320px;margin:0 auto}
.shenhejindu ul{padding-left:80px}
.shenhejindu li{margin-right:20px;width:200px;float:left}
.lansedian{width:20px;height:20px;padding-bottom:10px}
.jingduimg{width:20px;float:left;text-align:center}
.jingdu-msg{float:left;padding-left:10px}
.jingdu-msg p{line-height:24px}
.jiantou{padding-bottom:10px}
.jingduclose{width:180px;overflow:hidden;zoom:1;margin-left:70px;margin-bottom:10px}
.closebtna{width:180px;height:40px;background:#339cd9;border:none medium;display:inline-block;color:#fff;font-size:24px;font-weight:bold;cursor:pointer;border-radius:4px}
.jingdu-tip{color:#ff2c1c;font-size:14px;margin-left:50px}
/*注册*/
.zhuce{width:320px;padding-top:20px;background:#fff;font-size:14px;line-height:22px}
.zhuce fieldset{border:none}
.gs-name{border-bottom:1px dashed #ccc;padding-bottom:10px}
.gs-name-b{padding-top:10px;padding-bottom:10px}
.gs-name-c{padding-bottom:10px}
.gs-name-b a{text-decoration:none}
.paddingtop10{padding-top:10px}
.paddingtop0{padding-top:0}
.paddingbottom10{padding-bottom:8px}
input.login-username{height:33px;width:202px;border:solid 1px #DDD;border-top-color:#BBB;color:#333;font-size:16px;padding-left:10px;
-webkit-border-radius:0;-webkit-appearance:none;background:-webkit-gradient(linear,0 0,0 100%,from(#f5f5f5),to(#fdfdfd))}
input.login-username26{height:33px;width:180px;border:solid 1px #DDD;border-top-color:#BBB;color:#333;font-size:16px;padding-left:26px;
-webkit-border-radius:0;-webkit-appearance:none;background:-webkit-gradient(linear,0 0,0 100%,from(#f5f5f5),to(#fdfdfd))}
input.login-username24{height:33px;width:210px;border:solid 1px #DDD;border-top-color:#BBB;color:#333;font-size:16px;padding-left:24px;
-webkit-border-radius:0;-webkit-appearance:none;background:-webkit-gradient(linear,0 0,0 100%,from(#f5f5f5),to(#fdfdfd))}
.marginleft26{margin-left:26px}
.login-linkbtn-b{display:inline-block;zoom:1;width:100%;height:34px;line-height:34px;text-align:center;
	border:solid 1px #2f8b07;
	background-color: #7cc2f7;
	background-image: -webkit-linear-gradient(bottom, #37a707, #47b717);
	background-image: -moz-linear-gradient(bottom, #37a707, #47b717);
	background-image: -o-linear-gradient(bottom, #37a707, #47b717);
	background-image: linear-gradient(to top, #37a707, #47b717);font-size:16px;color:#fff;margin-bottom:8px}
.login-linkbtn-c{display:inline-block;zoom:1;width:100%;height:34px;line-height:34px;text-align:center;
		border:solid 1px #ff9033;
		border-radius:4px;
		background-color:#f68e07;
		background-image: -webkit-linear-gradient(bottom, #ff8c00, #f7a017);
		background-image: -moz-linear-gradient(bottom, #ff8c00, #f7a017);
		background-image: -o-linear-gradient(bottom, #ff8c00, #f7a017);
		background-image: linear-gradient(to top, #ff8c00, #f7a017);font-size:16px;color:#fff}
.userbox{display:inline-block;position:relative}
.userbox-icon,.pwd,.mail{display:inline-block;position:relative}
.userbox-icon:before,.pwd:before,.mail:before{content: '';position:absolute;left:0px;top:0px;width:25px;height:25px}
.userbox-icon:after,.pwd:after,.mail:after{content: '';position: absolute;left:0px;top:2px;width:25px;height:25px}
.userbox-icon:after,.pwd:after,.mail:after{background: url(../images/loginicon.png) no-repeat;background-size:56px;background-position: 8px 8px}
.pwd:after{background-position: 8px -47px;}
.mail:after{background-position: -35px -20px;}
.login-tipstxt{font-size:12px;color:#ff0000;padding-left:48px}
.login-tipstxt2{font-size:12px;color:#ff0000;padding-left:70px}
.login-tipstxt4{font-size:12px;color:#ff0000;padding-left:48px}
.login-tipstxt5{font-size:12px;color:#ff0000;padding-left:85px}
.login-tipstxt6{font-size:12px;color:#ff0000;padding-left:72px}
.login-tipstxt7{font-size:12px;color:#ff0000;padding-left:72px;padding-top:10px}
.login-tipstxt8{font-size:12px;color:#ff0000;padding-left:88px}
.zhuce-type{font-size:16px}
/*登录*/
.vipbox{background:#fff;width:97%;margin:20px auto}
.vipbar ul li{float:left;height:45px;line-height:45px;-webkit-box-flex:1;text-align:center;width:154px;font-size:16px;border-bottom:1px solid #ccc}
.vipbar ul li a{display:inline-block;height:45px;width:154px;color:#666}
.vipbar ul li.cndomain{border-right:none;width:154px}
.vipbar ul li.current{border-bottom:1px solid #f3f3f3;border-top:1px solid #ccc;border-left:1px solid #ccc;font-weight:bold;background:#f3f3f3;border-right:1px solid #ccc}
.vipbar ul li.current a{color:#006699}
.loginbox{overflow:hidden;height:auto;clear:both;background:#f3f3f3;border:1px solid #ccc;border-top:none;font-size:14px}
.loginbox fieldset{border:none}
.zhuce-linka{width:80px;float:left}
.zhuce-linka a{color:#0091db}
.zhaohui-txt{width:200px;float:left}
.zhaohui-pcolora{color:#666}
.zhaohui-pcolorb{color:#ff2c1c}
.fuwuma{width:160px;display:inline-block}
input.login-fuwuma{height:33px;width:160px;border:solid 1px #DDD;border-top-color:#BBB;color:#333;font-size:16px;padding-left:6px;
-webkit-border-radius:0;-webkit-appearance:none;background:-webkit-gradient(linear,0 0,0 100%,from(#f5f5f5),to(#fdfdfd))}
/*快云vps*/
.kuaiyun{margin:10px auto}
.kuaiyuntab{width:320px;margin:0 auto}
.kuaiyuntab-bar{overflow:hidden;zoom:1;width:320px}
.kuaiyuntab-bar li{width:160px;height:40px;line-height:40px;font-size:16px;
color:#fff;border-bottom:1px solid #ccc;background:#eee;color: #222;text-align:center;text-shadow: 0 1px 0 #fff;
background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#f1f1f1));background-image:-webkit-linear-gradient(#fff,#f1f1f1);background-image:-moz-linear-gradient(#fff,#f1f1f1);background-image:-ms-linear-gradient(#fff,#f1f1f1);background-image:-o-linear-gradient(#fff,#f1f1f1);background-image:linear-gradient(#fff,#f1f1f1);cursor:pointer;float:left}
.kuaiyuntab-bar li.active{width:160px;height:40px;line-height:40px;background:#5393c5;color:#fff;
cursor:pointer;text-shadow:0 1px 0 #3373a5;
text-decoration:none;background: #1891F0;
color: #fff;
cursor: pointer;
text-shadow: 0 1px 0 #3373a5;
text-decoration:none;
background-image:-webkit-gradient(linear,left top,left bottom,from(#3192DD),to(#169AF3));
background-image:-webkit-linear-gradient(#1A8AE2,#1E98EB);
background-image:-moz-linear-gradient(#5393c5,#6facd5);
background-image:-ms-linear-gradient(#5393c5,#6facd5);
background-image:-o-linear-gradient(#5393c5,#6facd5);
background-image: linear-gradient(#1E98F8,#2596E2);}
.kuaiyuntab-list li{display:none;border-top:4px solid #c4c4c4}
.lilist{font-size:14px;overflow:hidden;zoom:1}
.kyli-dd{width:120px;float:left;text-align:right;line-height:30px;color:#666}
.kyli-dt{width:200px;float:left;line-height:30px;color:#333}
.lilist-buy{text-align:center;margin:20px 0}
.pt-buy{display:inline-block;zoom:1;width:80%;height:34px;line-height:34px;
text-align:center;border:solid 1px #ff9033;border-radius:4px;background-color:#ff6f3d;font-size:18px;color:#fff}
.kuaiyun-yousi h4{color:#0091db;font-size:18px;padding:10px 0}
.kuaiyun-yousi p{line-height:30px;color:#666;background:url(../images/mobileimg.jpg) 0 10px no-repeat;padding-left:14px}
.kuaiyun-yousi{padding-left:40px;border-top:1px solid #ccc}
/*香港vps*/
.hongkongtop{margin-top:40px}
.hongkongp p{padding-right:20px}
.hongkong{width:320px;margin:0 auto}
.hongkongtab{margin-top:20px}
.hongkongtab-bar{overflow:hidden;zoom:1;width:320px}
.hongkongtab-bar li{width:107px;height:40px;line-height:40px;font-size:16px;
color:#fff;border-bottom:1px solid #ccc;background:#eee;color: #222;text-align:center;text-shadow: 0 1px 0 #fff;
background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#f1f1f1));background-image:-webkit-linear-gradient(#fff,#f1f1f1);background-image:-moz-linear-gradient(#fff,#f1f1f1);background-image:-ms-linear-gradient(#fff,#f1f1f1);background-image:-o-linear-gradient(#fff,#f1f1f1);background-image:linear-gradient(#fff,#f1f1f1);cursor:pointer;float:left}
.hongkongtab-bar li.active{width:106px;height:40px;line-height:40px;background:#5393c5;color:#fff;
cursor:pointer;text-shadow:0 1px 0 #3373a5;
text-decoration:none;background: #1891F0;
color: #fff;
cursor: pointer;
text-shadow: 0 1px 0 #3373a5;
text-decoration:none;
background-image:-webkit-gradient(linear,left top,left bottom,from(#3192DD),to(#169AF3));
background-image:-webkit-linear-gradient(#1A8AE2,#1E98EB);
background-image:-moz-linear-gradient(#5393c5,#6facd5);
background-image:-ms-linear-gradient(#5393c5,#6facd5);
background-image:-o-linear-gradient(#5393c5,#6facd5);
background-image: linear-gradient(#1E98F8,#2596E2);}
.hongkongtab-list li{display:none;border-top:4px solid #c4c4c4}
/*服务器托管*/
.tuoguan-txt p{line-height:30px;color:#0091db;background:url(../images/mobileimg6.jpg) 0 10px no-repeat;padding-left:22px}
.tuoguan-txt{padding-left:30px;border-top:1px solid #ccc}
.zuyong-pricetxt{font-size:16px;font-weight:bold}
.tuoguan{margin:10px auto}
.tuoguantab{width:320px;margin:0 auto}
.tuoguantab-bar{overflow:hidden;zoom:1;width:320px}
.tuoguantab-bar li{width:160px;height:40px;line-height:40px;font-size:16px;
color:#fff;border-bottom:1px solid #ccc;background:#eee;color: #222;text-align:center;text-shadow: 0 1px 0 #fff;
background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#f1f1f1));background-image:-webkit-linear-gradient(#fff,#f1f1f1);background-image:-moz-linear-gradient(#fff,#f1f1f1);background-image:-ms-linear-gradient(#fff,#f1f1f1);background-image:-o-linear-gradient(#fff,#f1f1f1);background-image:linear-gradient(#fff,#f1f1f1);cursor:pointer;float:left}
.tuoguantab-bar li.active{width:160px;height:40px;line-height:40px;background:#5393c5;color:#fff;
cursor:pointer;text-shadow:0 1px 0 #3373a5;
text-decoration:none;background: #1891F0;
color: #fff;
cursor: pointer;
text-shadow: 0 1px 0 #3373a5;
text-decoration:none;
background-image:-webkit-gradient(linear,left top,left bottom,from(#3192DD),to(#169AF3));
background-image:-webkit-linear-gradient(#1A8AE2,#1E98EB);
background-image:-moz-linear-gradient(#5393c5,#6facd5);
background-image:-ms-linear-gradient(#5393c5,#6facd5);
background-image:-o-linear-gradient(#5393c5,#6facd5);
background-image: linear-gradient(#1E98F8,#2596E2);}
.tuoguantab-list li{display:none;border-top:4px solid #c4c4c4}
.tuoguan-zixun{padding:10px 6px 10px 10px;font-size:12px}
/*虚拟主机*/
.smaltitle{height:30px;border-bottom:3px solid #429edd;font-size:16px;text-align:center;line-height:30px;background:#f2f2f2;margin-top:10px}
.hostbox{font-size:14px;overflow:hidden}
.hostli-dd{width:72px;float:left;text-align:right;line-height:30px;color:#666}
.hostli-dt{width:76px;float:left;line-height:30px;color:#333}
.hostli-dt select{width:70px}
.hostbuy{text-align:center;width:140px;float:left;margin:0 6px 0 14px}
.host-ul{overflow:hidden;zoom:1;padding-left:8px;padding-top:10px}
.host-ul{width:150px;float:left;border-right:1px dashed #ccc}
.hostbuy-mt{margin:20px 0}
.host-txt p{line-height:30px;color:#666;background:url(../images/mobileimg6.jpg) 0 8px no-repeat;padding-left:22px}
.host-txt{padding-left:30px;font-size:14px}
.hosttitle-xinghao{font-size:16px;color:#0091db;font-weight:bold;text-align:center}
/*域名注册*/
.price-color{color:#0091db;font-size:14px;font-weight:bold}
.price-color2{color:#ff2c1c;font-size:14px;font-weight:bold;padding-left:10px}
.domainyoushi{background:#f2f2f2;margin:10px 0}
.domainyoushi h4{font-size:18px;font-weight:bold;padding:10px 0 4px 18px;border-bottom:3px solid #419edd}
.domainyoushi p{padding-left:18px;line-height:26px;font-size:14px}
/*域名注册个人或者企业*/
.personorqiye{text-align: center;font-size: 16px;padding-top: 10px}
/*域名查询注册*/
.domain-searchlist{font-size:14px;padding:10px;background:#f2f2f2}
.domain-searchlist ul li{float:left;margin:8px 0}
.search-price{float:right;font-weight:bold}
.search-domain{display:block;float:left;color:#0091db;width:170px}
.search-price a{color:#ff2c1c}
.zhuce-all{display:inline-block;zoom:1;width:300px;height:34px;line-height:34px;text-align:center;
		border:solid 1px #ff9033;
		border-radius:4px;
		background-color:#f68e07;
		font-family:"Microsoft Yahei";
		background-image: -webkit-linear-gradient(bottom, #ff8c00, #f7a017);
		background-image: -moz-linear-gradient(bottom, #ff8c00, #f7a017);
		background-image: -o-linear-gradient(bottom, #ff8c00, #f7a017);
		background-image: linear-gradient(to top, #ff8c00, #f7a017);font-size:18px;color:#fff;border:none medium}
.yibeizhuce-color{color:#ff2c1c;font-size:18px;font-weight:bold;background:url(../images/mobileimg7.png) 4px 0 no-repeat;padding-left:30px;padding-bottom:4px}		
.search-domainhuise{color:#999;padding-left:18px;width:100%}
.yizhuce{border-top:1px solid #ccc;background:#fAfAfA}
.yizhuce li{width:270px}
.domainbuylist{font-size:14px;padding:0 10px 10px}
.domainbuylist ul li{float:left;margin:8px 0;width:300px}
.domain-mingcheng{font-weight:bold;color:#0091db;padding-bottom:10px}
.domain-year{font-weight:bold}
.domainform{border-top:4px solid #c4c4c4}
.domainname{text-align:center;font-size:16px;margin-bottom:6px}
.domaininput input{width:260px;margin-left:18px;height:30px;line-height:30px;font-size:14px}
/*我的账户*/
.zhanghu{margin:10px auto}
.zhanghutab{width:320px;margin:0 auto}
.zhanghutab-bar{overflow:hidden;zoom:1;width:320px}
.zhanghutab-bar li{width:80px;height:40px;line-height:40px;font-size:16px;
color:#fff;border-bottom:1px solid #ccc;background:#eee;color: #222;text-align:center;text-shadow: 0 1px 0 #fff;
background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#f1f1f1));background-image:-webkit-linear-gradient(#fff,#f1f1f1);background-image:-moz-linear-gradient(#fff,#f1f1f1);background-image:-ms-linear-gradient(#fff,#f1f1f1);background-image:-o-linear-gradient(#fff,#f1f1f1);background-image:linear-gradient(#fff,#f1f1f1);cursor:pointer;float:left}
.zhanghutab-bar li.active{width:80px;height:40px;line-height:40px;background:#5393c5;color:#fff;
cursor:pointer;text-shadow:0 1px 0 #3373a5;
text-decoration:none;background: #1891F0;
color: #fff;
cursor: pointer;
text-shadow: 0 1px 0 #3373a5;
text-decoration:none;
background-image:-webkit-gradient(linear,left top,left bottom,from(#3192DD),to(#169AF3));
background-image:-webkit-linear-gradient(#1A8AE2,#1E98EB);
background-image:-moz-linear-gradient(#5393c5,#6facd5);
background-image:-ms-linear-gradient(#5393c5,#6facd5);
background-image:-o-linear-gradient(#5393c5,#6facd5);
background-image: linear-gradient(#1E98F8,#2596E2);}
.zhanghutab-list li{display:none;border-top:4px solid #c4c4c4}
/*我的订单*/
.dingdan-name{width:80px;float:left;text-align:center;font-size:16px;font-weight:bold;color:#fff;padding:10px 0}
.dingdan-title{background:#0995dc}
.dingdan-list{background:#dff1fa}
.dingdan-list2{background:#fff}
.dingdan-xiangq{width:80px;float:left;text-align:center;padding:10px 0}
.dd-xiangqing ul li{height:30px}
/*虚拟主机开通*/
.kaitong{font-size:16px;padding:10px}	
.kaitong ul li{overflow:hidden;margin-bottom:14px}
.kaitonn-name{width:100px;text-align:right;float:left}	
.kaitong-input{width:196px;float:left}
.kaitonginput{-webkit-box-sizing:border-box;border:solid 1px #DDD;border-top-color: #BBB;height:30px;line-height:30px;width:200px;font-size:14px;vertical-align:middle}		
.kaitongbtn{display:inline-block;zoom:1;width:100%;height:34px;line-height:32px;
text-align:center;border:solid 1px #ff9033;border-radius:4px;background-color: #f68e07;
background-image:-webkit-linear-gradient(bottom, #ff8c00, #f7a017);
background-image:-moz-linear-gradient(bottom, #ff8c00, #f7a017);
background-image:-o-linear-gradient(bottom, #ff8c00, #f7a017);
background-image:linear-gradient(to top, #ff8c00, #f7a017);
font-size:16px;color:#fff;font-family:"Microsoft Yahei"}		
.webmaster{font-weight:bold}
.kaitong-txtcolor{color:#999}	
/*快云vps开通提醒*/
.tixing-tip{font-size:16px;padding:10px;line-height:26px;text-indent:28px}
.kaitong-button{text-align:center;}
.kaitong-btn{width:160px;height:40px;line-height:40px;margin-bottom:10px;
background:#5393c5;color:#fff;font-size:18px;font-family:"Microsoft Yahei";
cursor:pointer;text-shadow:0 1px 0 #3373a5;
text-decoration:none;background:#1891F0;
color:#fff;cursor:pointer;text-shadow:0 1px 0 #3373a5;text-decoration:none;
background-image:-webkit-gradient(linear,left top,left bottom,from(#3192DD),to(#169AF3));
background-image:-webkit-linear-gradient(#1A8AE2,#1E98EB);
background-image:-moz-linear-gradient(#5393c5,#6facd5);
background-image:-ms-linear-gradient(#5393c5,#6facd5);
background-image:-o-linear-gradient(#5393c5,#6facd5);
background-image:linear-gradient(#1E98F8,#2596E2);border:none medium}
/*快云vps详情*/
.kyvps-xiangqing{font-size:14px;overflow:hidden;margin-bottom:10px}
.kyvps-xiangqing ul li{height:30px}
/*快云vps续费*/
.kyvps-xufei{font-size:14px}
.xufei-buy{display:inline-block;zoom:1;width:60px;height:30px;line-height:30px;text-align:center;border:solid 1px #ff9033;border-radius:4px;background-color:#ff6f3d;font-size:14px;color:#fff;margin-right:4px}
.xufei-buy2{display:inline-block;zoom:1;width:100px;height:30px;line-height:30px;text-align:center;border:solid 1px #ff9033;border-radius:4px;background-color:#ff6f3d;font-size:14px;color:#fff;margin-right:4px}
/*快云vps业务*/
.yewu-txt{font-size:16px;font-weight:bold;float:left;padding-right:5px;padding-top:11px}
.submit-btn{background:url(../images/searchbg.gif) no-repeat;width:70px;height:45px;border:none;float:left}
.yewuInput{float:left;margin-left:8px}
.yewuInput input{vertical-align:middle}
.yewuSearchBox{width:320px;padding-top:13px;overflow:hidden}
.inputbox{height:43px;padding:0px 0px 0px 5px;border:solid 1px #dcdddd;border-top-left-radius:4px;border-bottom-left-radius:4px;border-right:none;float:left;color:#333;font-size:14px;width:156px}
.ky-ywlist ul{margin:10px;padding-bottom:10px}
.ky-ywlist ul li{border-bottom:1px solid #ccc}
.list-a{margin-bottom:10px}
.aleft{width:180px;float:left;font-size:18px;color:#0091db;padding-top:8px}
.aleft-data{width:160px;float:left;font-size:14px;color:#999;line-height:30px;padding-top:8px}
.aright{width:100px;float:right;text-align:center;font-size:18px;color:#0091db;padding-top:8px}
.aleft-data2{width:160px;float:left;font-size:14px;color:#999;line-height:30px}
.aright2{width:140px;float:right;text-align:center;font-size:18px;color:#0091db}
/*域名管理*/
/*我的业务*/
.my-yewu{background:#1891F0;font-size:18px;margin:10px 20px;color:#fff;padding:10px 0 10px 20px}
.my-yewuzhishi{float:right;padding-right:10px}
.my-yewu a{color:#fff;width:210px;display:inline-block}
/*工单详情*/
.orderimg{margin:10px 0 18px;overflow:hidden;zoom:1}
.orderimg p{line-height:22px}
.ordername{width:80px;float:left;font-size:14px;text-align:center;line-height:70px}
.ordername2{width:80px;float:right;font-size:14px;text-align:center;padding-top:24px;margin-left:8px}
.ordermsg{width:200px;float:left;}
.ordermsg2{width:200px;float:right}
.dtcm-ad{background-color:#dee0e2}
.dtcm-ad{padding:6px 10px;background-color:#e7e6e2;position:relative;margin-top:12px;font-size: .86rem}
.dtcm-ad:before{border-bottom-color:#dee0e2}
.dtcm-rp:before, .dtcm-ad:before{content:" ";position:absolute;left:-32px;border:transparent 20px solid;border-right-color: #e7e6e2}
.dtcm-ad2{background-color:#dee0e2}
.dtcm-rp, .dtcm-ad2{padding:6px 10px;background-color:#a3e4b0;position:relative;margin-top:12px;font-size:.86rem}
.dtcm-ad2:before{border-bottom-color:#dee0e2}
.dtcm-ad2:before{content:" ";position:absolute;right:-32px;border:transparent 20px solid;border-left-color:#a3e4b0}
.order-addhuifu{margin-bottom:10px}
.order-data{color:#999;padding:4px 0}
.order-addhuifu h4{font-size:16px;padding:4px 0 8px 14px;border-top:1px solid #ccc}
.order-addhuifu textarea{width:290px;height:120px;margin-left:10px;border:1px solid #dbdbdb}
.order-huifubtn{padding:10px}
.pingjia-tip{color:#ff2c1c;padding:10px 10px 0}
/*故障申报*/
.guzhang-name{width:80px;float:left;text-align:center;font-size:16px;color:#333;padding:10px 0}
.guzhang-name2{width:50px;float:left;text-align:center;font-size:16px;color:#333;padding:10px 0}
.guzhang-name1{width:110px;float:left;text-align:center;font-size:16px;color:#333;padding:10px 0}
.guzhang-name3{width:110px;float:left;font-size:12px;color:#333;text-align:center}
.guzhang-name3 a{width:110px;color:#333}
.guzhang-name4{width:80px;float:left;text-align:center;font-size:12px;color:#333}
.guzhang-name4 a{width:80px;color:#333}
.guzhang-name5{width:50px;float:left;text-align:center;font-size:12px;color:#333}
.guzhang-name5 a{width:50px;color:#333}
.guzhang-title{background:#f2f2f2;border-bottom:3px solid #babcbd;margin:10px 0}
.guzhang ul li{float:left;margin-bottom:10px;border-bottom:1px solid #ccc;padding-bottom:10px}
/*分页*/
.div-pre{width:62px;float:left;margin-left:10px;margin-bottom:10px}
.div-next{width:62px;float:right;margin-right:20px;margin-bottom:10px}
.div-select{width:140px;float:left;text-align:center;margin-left:20px;margin-top:4px}
.div-select select{color:#333}
.pre{background:url(../images/back.png) no-repeat 0 0;background-size:contain;font-size:14px;color:#666;display:inline-block;text-align:center;padding-left:8px;width:62px;height:30px;line-height:30px;text-decoration:none;margin-right:30px;font-weight:bold}
.next{background:url(../images/back2.png) no-repeat 0 0;background-size:contain;font-size:14px;color:#666;display:inline-block;text-align:center;padding-right:8px;width:62px;height:30px;line-height:30px;text-decoration:none;margin-right:30px;font-weight:bold}
.guzhang-type{margin:10px 0}
.guzhang-typetit{width:80px;float:left;text-align:right}
.guzhang-typecontent{width:220px;float:left}
.guzhang-typecontent p{padding-bottom:8px}
.guzhang-list{width:302px;border:1px solid #ccc;margin-left:8px;margin-bottom:10px}
.guzhang-list ul{margin-left:14px}
.guzhang-list h4{margin-left:18px;padding-top:10px;padding-bottom: 8px;}
.guzhang-list ul li{float:left;padding:8px 0;width:140px}
.guzhang-miaoshu{margin-bottom:10px}
.guzhang-miaoshu h4{font-size:16px;padding:4px 0 8px 14px}
.guzhang-miaoshu textarea{width:290px;height:120px;margin-left:10px;border:1px solid #dbdbdb}
.guzhang-tip{margin-left:14px;color:#ff2c1c}
.lianxiren{width:300px;margin:0 auto}
.lianxirentab{margin-top:10px}
.lianxirentab-bar{overflow:hidden;zoom:1;width:320px}
.lianxirentab-bar li{width:149px;height:40px;line-height:40px;font-size:16px;
color:#fff;border-bottom:1px solid #ccc;background:#fff;color:#222;text-align:center;cursor:pointer;float:left}
.lianxirentab-bar li.active{width:149px;height:40px;line-height:40px;background:#f3f3f3;color:#333;
cursor:pointer;text-decoration:none;color:#0091db;cursor:pointer;text-decoration:none;border:1px solid #c4c4c4;border-bottom:none}
.lianxirentab-list li{display:none;background:#f3f3f3;border-left:1px solid #c4c4c4;border-right:1px solid #c4c4c4;border-bottom:1px solid #c4c4c4}
.lianxili-dd{width:90px;float:left;text-align:right;line-height:30px;color:#666}
.lianxili-dt{width:200px;float:left;line-height:30px;color:#333}
.lianxi-ipinput{height:33px;width:190px;-webkit-box-sizing:border-box;border:solid 1px #DDD;border-top-color:#BBB;padding:0 9px;color:#333;font-size:1.6rem;-webkit-border-radius:0;
-webkit-appearance:none;vertical-align:middle}
/*分页没有数据时显示*/
.manu{color: red;text-align:center}
/*404错误*/
.error404 ul{margin-left:20px}
.error404 ul li{text-align:center;width:80px;float:left;margin:10px 20px 2px 0}
.error404 ul li a{display:block;border:1px #ddd solid;border-radius:2px;-webkit-border-radius:2px;background-color:#fff;height:34px;line-height:34px;font-size:16px;color:#333}
.error404 a.error404-acolor{color:#0091db}
.error404 h4{color:#999;font-size:24px;padding:10px 0 10px 20px}
/*评价*/
.star{width:200px;height:32px;line-height:32px}
.star div{float:left;padding-right:3px;width:34px;height:32px}
.star div.huangse a{display:inline-block; background:url(../images/img-full-star.png) no-repeat;width:34px;height:32px}
.star div a{display:inline-block; background:url(../images/img-full-star-grey.png) no-repeat;width:34px;height:32px}
.home-a{padding-top:10px;padding-left:10px;font-size:16px;color:#0091db}
.home-a a{color:#000}

/*2014.4.23*/
.cpfwsm p{color:#c00;font-size:12px;margin-left:5px;text-align:center;padding-top:10px;}
.cpdlxz{font-size:12px;padding:20px 10px 10px 0}
.login-top,.login-center{border-bottom:2px solid #e5e5e5;padding:20px 0}
.login-top{padding-left: 40px}
.login-center img{padding-left:6px}
.login-center p{text-align:center;color:#9c9c9c}

/*2014.6.9新登录*/
.vipbox{background:#fff;width:97%;margin:20px auto}
.newbar ul li{float:left;height:45px;line-height:45px;-webkit-box-flex:1;text-align:center;width:94px;font-size:16px;border-bottom:1px solid #ccc}
.newbar ul li a{display:inline-block;height:45px;width:90px;color:#666}
.newbar ul li.cndomain{border-right:none;width:120px}
.newbar ul li.current{border-bottom:1px solid #f3f3f3;border-top:1px solid #ccc;border-left:1px solid #ccc;font-weight:bold;background:#f3f3f3;border-right:1px solid #ccc}
/*服务码*/
.Virtualfuwuma{border:2px solid #babcbd;width:315px}
.zhanghu h4{font-size:16px;color:#006091;padding:5px}
.fuwumatab{background:#f2f2f2;float:left;height:35px;border-bottom: 1px solid #babcbd;width:100%}
.fuwumaname{float:left;font-size:14px;width:90px;height:35px;line-height:35px;text-align:right;border-right: 1px solid #babcbd;padding-right:15px}
.nameresult{float:left;font-size:14px;width:195px;height:35px;line-height:35px;padding-left:5px}
.nameresult input{width:180px;line-height:24px;height:24px}
.fuwumatab2{height:40px;border-bottom: 1px solid #babcbd;clear:both;background:#f2f2f2}
.fuwumaname2{height:40px;line-height:40px;float:left;font-size:14px;width:105px;text-align:center;border-right: 1px solid #babcbd}
.nameresult span{color:#cc0000;height:24px;line-height:24px;text-align:left;width:210px;display:block}
.linkbtn-c{display:inline-block;zoom:1;width:95px;height:26px;line-height:23px;text-align:center;border:solid 1px #ff9033;border-radius:4px;background-color:#f68e07;background-image: -webkit-linear-gradient(bottom, #ff8c00, #f7a017);background-image: -moz-linear-gradient(bottom, #ff8c00, #f7a017);background-image: -o-linear-gradient(bottom, #ff8c00, #f7a017);background-image: linear-gradient(to top, #ff8c00, #f7a017);font-size:16px;color:#fff}
.fuwumaused{color:#010101;font-size:14px;padding-bottom:10px}
.fuwumaused span{display:block;font-weight:bold;padding-top:6px}